asgiref==3.5.0
astroid==2.11.3
backports.zoneinfo==0.2.1
dill==0.3.4
Django==4.0.1
django-cors-headers==3.11.0
djangorestframework==3.13.1
et-xmlfile==1.1.0
gunicorn==20.1.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
numpy==1.22.1
openpyxl==3.0.9
pandas==1.4.1
Pillow==9.1.0
platformdirs==2.5.2
psycopg2-binary==2.9.3
pylint==2.13.7
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
transliterate==1.10.2
typing-extensions==4.2.0
tzdata==2021.5
whitenoise==5.3.0
wrapt==1.14.0
