{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Belmarket</title> <!-- Title for the site page -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Import the css file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include the ajax library -->
</head>
<body>
    <div id="main"> <!-- Main tag for react code -->

    </div>
    <script src="/static/frontend/main.js"></script> <!-- Include main js file -->
</body>
</html>